<div class="tabla-wrap">
  <table class="tabla">
    <colgroup>
      <col class="c-section" />
      <col class="c-subject" />
      <col class="c-semester" />
      <col class="c-id" />
      <col class="c-sched" />
      <col class="c-select" *ngIf="selectable" />
    </colgroup>

    <thead>
      <tr>
        <th>Sección</th>
        <th>Materia</th>
        <th>Semestre</th>
        <th>Id Clase</th>
        <th>Horarios</th>
        <th *ngIf="selectable">Seleccionar</th>
      </tr>
    </thead>

    <tbody>
      <tr *ngFor="let r of rows; trackBy: trackById">
        <td>{{ r.section }}</td>
        <td>{{ r.subject }}</td>
        <td>{{ r.semester }}</td>
        <td>{{ r.id }}</td>
        <td class="sched-cell">
          <div *ngFor="let s of r.schedules; let last = last">
            {{ s }}<br *ngIf="!last">
          </div>
        </td>
        <td *ngIf="selectable" class="sel-cell">
          <label class="chk">
            <input
              type="checkbox"
              [checked]="isChecked(r.id)"
              (change)="toggle(r.id)"
            />
            <span class="box"></span>
          </label>
        </td>
      </tr>
    </tbody>
  </table>
</div>

