<div class="email-preview">
  <p [innerHTML]="linkedMessage"></p>
  <div class="signature">
    <p class="signature-greeting">Atentamente,</p>
    <div class="signature-content">
      <div class="signature-image" *ngIf="signatureUrl">
        <img [src]="signatureUrl" alt="Firma virtual" />
      </div>
      <div class="signature-divider" *ngIf="signatureUrl"></div>
      <div class="signature-text">
        <div [innerHTML]="formattedSignatureText"></div>
      </div>
    </div>
  </div>
</div>
