<div class="container">
  <h1 class="titulo-pagina">Bienvenido, Administrador Académico</h1>
  <div class="hr-line"></div>

  <div class="layout">
    <!-- Columna izquierda: Accesos rápidos -->
    <aside class="sidebar">
      <app-accesos-rapidos-admi></app-accesos-rapidos-admi>
    </aside>

    <!-- Columna derecha: contenido principal -->
    <main class="content">
      

      <!-- Tarjeta superior -->
      <ng-container *ngIf="systemStatus">
        <app-system-status-card [data]="systemStatus"></app-system-status-card>
      </ng-container>

     

      <!-- Tabla por sección -->
      <ng-container *ngIf="sectionsSummary">
        <app-section-summary-table [data]="sectionsSummary"></app-section-summary-table>
      </ng-container>
    </main>
  </div>
</div>
